*
	margin: 0
	padding: 0

body
	display: grid
	grid-template-rows: max-content auto
	gap: 50px

.top
	height: 50px
	background-color: pink
	display: grid
	grid-template-columns: auto max-content
	row-gap: 50px

.logo_img
	padding: 10px 0 0 50px
	width: 30px
	height: 30px

.cart-button
	margin: 5px 50px 5px 0
	background: none
	border: none
	cursor: pointer

.cart_img
	width: 30px
	height: 30px

.goods-list
	display: flex
	justify-content: center
	gap: 50px

.goods-item
	width: 200px
	height: 300px
	display: flex
	flex-direction: column
	padding: 10px
	box-sizing: border-box
	outline: 5px solid pink
	gap: 10px
	justify-content: center
	align-items: center
